<mat-toolbar style="background-image: url('assets/images/top-bar-back.jpg'); background-repeat: no-repeat; background-size: 100%" class="fix-nav">
    <button type="button" mat-icon-button class="visible-md" (click)="toggleSidebar()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <div>
            <!-- <img src="assets/images/app-icon.ico" /> -->
              <span style="color: white">CDN System</span>
          </div>
    <span class="nav-spacer"></span>
    <button mat-icon-button (click)="onLoggedout()">
        <mat-icon>exit_to_app</mat-icon>
    </button>
</mat-toolbar>
